@using TraVinhMaps.Web.Admin.Models.Dashboard
@model DashboardVM
@{
    ViewData["Title"] = "";
}

<style>
    .chart-hometown-container {
        max-height: 550px;
        min-width: 800px;
        width: 100%;
        position: relative;
        overflow: visible;
        overflow-y: auto;
        overflow-x: auto;
    }

    .chart-container {
        height: 300px;
        position: relative;
    }

    .chart-container canvas,
    .chart-hometown-container canvas {
        max-height: 100%;
        width: 100%;
    }

    .no-data-message {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #146c43;
        background: rgba(255, 255, 255, 0.8);
        padding: 10px 20px;
        border-radius: 5px;
        display: none;
        z-index: 0;
    }
</style>

<!-- Page Sidebar Ends-->
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>@ViewData["Title"]</h4>
                </div>
                @{
                    var breadcrumbs = ViewData["Breadcrumb"] as List<BreadcrumbItem>;
                }
                @if (breadcrumbs != null)
                {
                    @await Html.PartialAsync("_Breadcrumb", breadcrumbs)
                }
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row size-column">
            <div class="box-col-12">
                <div class="row">
                    <div class="col-xl-4 col-sm-6">
                        <div class="card o-hidden small-widget">
                            <div class="card-body total-project border-b-primary border-2"><span
                                    class="f-light f-w-500 f-14">Total Users</span>
                                <div class="project-details">
                                    <div class="project-counter">
                                        <h2 class="f-w-600">@Model.TotalUsers</h2>
                                    </div>
                                    <div class="product-sub bg-primary-light">
                                        <img src="~/assets/images/dashboard_icon/People.png" alt=""
                                            style="width: 25px;">
                                    </div>
                                </div>
                                <ul class="bubbles">
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="card o-hidden small-widget">
                            <div class="card-body total-Progress border-b-warning border-2"> <span
                                    class="f-light f-w-500 f-14">Active Users</span>
                                <div class="project-details">
                                    <div class="project-counter">
                                        <h2 class="f-w-600">@Model.TotalUserActive</h2>
                                    </div>
                                    <div class="product-sub bg-warning-light">
                                        <img src="../assets/images/dashboard_icon/verified-user.png" alt=""
                                            style="width: 30px;">
                                    </div>
                                </div>
                                <ul class="bubbles">
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="card o-hidden small-widget">
                            <div class="card-body total-Complete border-b-secondary border-2"><span
                                    class="f-light f-w-500 f-14">Total Reviews</span>
                                <div class="project-details">
                                    <div class="project-counter">
                                        <h2 class="f-w-600">475</h2><span class="f-12 f-w-400">(This month)
                                        </span>
                                    </div>
                                    <div class="product-sub bg-secondary-light">
                                        <img src="../assets/images/dashboard_icon/Star.png" alt="" style="width: 30px;">
                                    </div>
                                </div>
                                <ul class="bubbles">
                                    <li class="bubble"> </li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"> </li>
                                    <li class="bubble"></li>
                                    <li class="bubble"> </li>
                                    <li class="bubble"></li>
                                    <li class="bubble"></li>
                                    <li class="bubble"> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Performance by Tag Chart -->
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
                        <h5 class="me-3">Performance by Tag</h5>
                        <div class="d-flex flex-wrap gap-2 align-items-center">
                            <select class="form-select" id="tagSelect" multiple multiselect-search="true"
                                multiselect-select-all="true" multiselect-max-items="5" placeholder="Select tags">
                                <option value="Destination">Destination</option>
                                <option value="Ocop">Ocop</option>
                                <option value="Local specialty">Local Specialty</option>
                                <option value="Tips">Tips</option>
                                <option value="Festivals">Festivals</option>
                            </select>
                            <select class="form-select w-auto" id="timeChartSelectPerformance">
                                <option value="day">Today</option>
                                <option value="week">Last Week</option>
                                <option value="month">Last Month</option>
                                <option value="year">Last Year</option>
                            </select>
                            <button title="(PNG & CSV)" class="btn btn-primary" id="downloadPerformanceChart"
                                data-chart-id="performanceChart">Download
                                Chart</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <div class="no-data-message text-center" id="performanceChart-no-data">No user data
                                available
                            </div>
                            <canvas id="performanceChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- User Creation Chart -->
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5>New Users Over Time</h5>
                        <select class="form-select w-auto" id="timeChartSelect">
                            <option value="day">Today</option>
                            <option value="week">Last Week</option>
                            <option value="month">Last Month</option>
                            <option value="year">Last Year</option>
                        </select>
                    </div>
                    <div class="card-body">
                        <div class="chart-container">
                            <div class="no-data-message text-center" id="timeChart-no-data">No user data available</div>
                            <canvas id="timeChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- User Statistics Overview -->
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
                        <h5 class="me-2 mb-2">User Demographics Overview</h5>
                        <div class="d-flex flex-wrap gap-2 align-items-center">
                            <div class="d-flex flex-wrap gap-2 align-items-center">
                                <select class="form-select w-auto" id="downloadUserStatSelect">
                                    <option value="ageChart" data-chart-id="ageChart">User Age Distribution</option>
                                    <option value="genderChart" data-chart-id="genderChart">User Gender Distribution
                                    </option>
                                    <option value="statusChart" data-chart-id="statusChart">User Status Distribution
                                    </option>
                                </select>
                                <button class="btn btn-primary" id="downloadUserStatChart" title="(PNG & CSV)">Download
                                    Chart</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Age Chart -->
                            <div class="col-md-6 col-lg-4">
                                <div class="card h-100">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h5>User Age Distribution</h5>
                                        <select class="form-select w-auto" id="ageChartSelect">
                                            <option value="day">Today</option>
                                            <option value="week">Last Week</option>
                                            <option value="month">Last Month</option>
                                            <option value="year">Last Year</option>
                                        </select>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-container">
                                            <div class="no-data-message text-center" id="ageChart-no-data">No user data
                                                available</div>
                                            <canvas id="ageChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Gender Chart -->
                            <div class="col-md-6 col-lg-4">
                                <div class="card h-100">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h5>User Gender Distribution</h5>
                                        <select class="form-select w-auto" id="genderChartSelect">
                                            <option value="day">Today</option>
                                            <option value="week">Last Week</option>
                                            <option value="month">Last Month</option>
                                            <option value="year">Last Year</option>
                                        </select>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-container">
                                            <div class="no-data-message text-center" id="genderChart-no-data">No user
                                                data
                                                available
                                            </div>
                                            <canvas id="genderChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Status Chart -->
                            <div class="col-md-6 col-lg-4">
                                <div class="card h-100">
                                    <div class="card-header d-flex justify-content-between align-items-center">
                                        <h5>User Account Status</h5>
                                        <select class="form-select w-auto" id="statusChartSelect">
                                            <option value="day">Today</option>
                                            <option value="week">Last Week</option>
                                            <option value="month">Last Month</option>
                                            <option value="year">Last Year</option>
                                        </select>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart-container position-relative">
                                            <div class="no-data-message text-center" id="statusChart-no-data">No user
                                                data
                                                available
                                            </div>
                                            <canvas id="statusChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Hometown Chart -->
                            <div class="col-md-12 col-lg-12">
                                <div class="card mt-4">
                                    <div
                                        class="card-header d-flex justify-content-between align-items-center flex-wrap">
                                        <h5 class="mb-2 mb-sm-0">User Hometown Distribution</h5>
                                        <div class="d-flex flex-wrap gap-2 align-items-center">
                                            <select class="form-select w-auto" id="hometownChartSelect">
                                                <option value="day">Today</option>
                                                <option value="week">Last Week</option>
                                                <option value="month">Last Month</option>
                                                <option value="year">Last Year</option>
                                            </select>
                                            <button title="(PNG & CSV)" class="btn btn-primary"
                                                id="downloadHometownChart">
                                                Download Chart
                                            </button>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="chart-hometown-container" style="height: 600px; overflow-y: auto;">
                                            <div class="no-data-message text-center" id="hometownChart-no-data">No user
                                                data
                                                available
                                            </div>
                                            <canvas id="hometownChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Top 5 Reviews</h4>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive signal-table custom-scrollbar">
                        <table class="table table-hover table-lg">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Destination Name</th>
                                    <th scope="col">Rate <span style="color: #ffc107;">★</span></th>
                                    <th scope="col">Review</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 1;
                                }
                                @if (Model.LatestReviews != null && Model.LatestReviews.Any())
                                {
                                    @foreach (var item in Model.LatestReviews)
                                    {
                                        <tr class="user-removes">
                                            <td>@count</td>
                                            <td>
                                                @item.UserName
                                            </td>
                                            <td>
                                                @item.DestinationName
                                            </td>
                                            <td>
                                                @{
                                                    int starCount = (int)Math.Floor((double)item.Rating);
                                                    int totalStars = 5;
                                                }
                                                @for (int i = 1; i <= totalStars; i++)
                                                {
                                                    if (i <= starCount)
                                                    {
                                                        <i class="fa fa-star font-warning"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-star" style="color: #ccc;"></i>
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @item.Comment
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-center" colspan="5">No reviews found.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section Scripts {
    <script src="~/assets/js/sweetalert-custom.js"></script>
    <script src="~/assets/js/usermanagement/chart.js"></script>
    <script src="~/assets/js/multiselect-dropdown.js"></script>
    <script>
        const csInitialTimeRange = '@(ViewData["TimeRange"] ?? "month")';
        const csInitialTag = '@(ViewData["TagName"] ?? "Destination")';

        window.initialData = {
            csInitialTimeRange: csInitialTimeRange,
            csInitialTag: csInitialTag,
            age: @Html.Raw(Json.Serialize(Model.UserStatistics.FirstOrDefault()?.Age ?? new Dictionary<string, int>())),
            gender: @Html.Raw(Json.Serialize(Model.UserStatistics.FirstOrDefault()?.Gender ?? new Dictionary<string, int>())),
            status: @Html.Raw(Json.Serialize(Model.UserStatistics.FirstOrDefault()?.Status ?? new Dictionary<string, int>())),
            hometown: @Html.Raw(Json.Serialize(Model.UserStatistics.FirstOrDefault()?.Hometown ?? new Dictionary<string, int>())),
            time: @Html.Raw(Json.Serialize(Model.UserStatistics.FirstOrDefault()?.Time ?? new Dictionary<string, int>())),
            performance: @Html.Raw(Json.Serialize(Model.PerformanceByTag ?? new Dictionary<string, Dictionary<string, int>>()))
                    };
        console.log("Initial data:", window.initialData);

        // Khởi tạo biểu đồ khi DOM đã tải xong
        document.addEventListener("DOMContentLoaded", () => {
            initializeCharts(window.initialData || {});
        });

        const error = @Html.Raw(Json.Serialize(ViewData["Error"]));
        if (error) {
            alert('Error: ' + error);
        }

        // ... (phần còn lại của script SignalR giữ nguyên) ...
    </script>
}