@using TraVinhMaps.Web.Admin.Models.Users;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UserResponse;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>@ViewData["Title"]</h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">
                                <i class="fa fa-home" style="font-size: 20px;"></i>
                            </a>
                        </li>
                        @if (ViewData["Breadcrumb"] is List<string> breadcrumbs)
                        {
                            foreach (var item in breadcrumbs.Take(breadcrumbs.Count - 1))
                            {
                                <li class="breadcrumb-item">@item</li>
                            }
                            <li class="breadcrumb-item active">@breadcrumbs.Last()</li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="edit-profile">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Profile</h4>
                            <div class="card-options"><a class="card-options-collapse" href="#"
                                    data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a
                                    class="card-options-remove" href="#" data-bs-toggle="card-remove"><i
                                        class="fe fe-x"></i></a></div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="profile-title">
                                    <div class="media"> <img class="img-70 rounded-circle" alt="avatar"
                                            src="@Model.UserProfile.Avatar">
                                        <div class="media-body">
                                            <h5 class="mb-1">@Model.UserProfile.FullName</h5>
                                            <p>@Model.Email</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Number Phone</label>
                                <input class="form-control" value="@Model.PhoneNumber" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">DateOfBirth</label>
                                <input class="form-control" value="@Model.UserProfile.DateOfBirth" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Gender</label>
                                <input class="form-control" value="@Model.UserProfile.Gender" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Address</label>
                                <input class="form-control" value="@Model.UserProfile.Address" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Create At</label>
                                <input class="form-control" value="@Model.CreatedAt" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">

                    <div class="card-header">
                        <h4 class="card-title mb-0">Review</h4>
                        <div class="card-options"><a class="card-options-collapse" href="#"
                                data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a
                                class="card-options-remove" href="#" data-bs-toggle="card-remove"><i
                                    class="fe fe-x"></i></a></div>
                    </div>
                    <div class="card-body">
                        <div class="row">

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Add projects And Upload</h4>
                            <div class="card-options"><a class="card-options-collapse" href="#"
                                    data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a
                                    class="card-options-remove" href="#" data-bs-toggle="card-remove"><i
                                        class="fe fe-x"></i></a></div>
                        </div>
                        <div class="table-responsive add-project custom-scrollbar">
                            <table class="table card-table table-vcenter text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Project Name</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a class="text-inherit" href="#">Untrammelled prevents </a></td>
                                        <td>28 May 2018</td>
                                        <td><span class="status-icon bg-success"></span> Completed</td>
                                        <td>$56,908</td>
                                        <td class="text-end"><a class="icon" href="javascript:void(0)"></a><a
                                                class="btn btn-primary btn-sm" href="javascript:void(0)"><i
                                                    class="fa fa-pencil"></i> Edit</a><a class="icon"
                                                href="javascript:void(0)"></a><a class="btn btn-transparent btn-sm"
                                                href="javascript:void(0)"><i class="fa fa-link"></i> Update</a><a
                                                class="icon" href="javascript:void(0)"></a><a
                                                class="btn btn-danger btn-sm" href="javascript:void(0)"><i
                                                    class="fa fa-trash"></i> Delete</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>