@using TraVinhMaps.Web.Admin.Models.CommunityTips
@model CommunityTipsResponse
@{
    ViewData["Title"] = " Tips Details";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>@ViewData["Title"]</h4>
                </div>
                @{
                    var breadcrumbs = ViewData["Breadcrumb"] as List<BreadcrumbItem>;
                }
                @if (breadcrumbs != null)
                {
                    @await Html.PartialAsync("_Breadcrumb", breadcrumbs)
                }
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-sm-12">
                            <div class="card-header">
                                <h4>@Model.Title</h4>
                            </div>
                            <div class="card-body">
                                <span class="text-justify">@Html.Raw(Model.Content)</span>

                                <div class="row">
                                    <div class="col-md-3 mt-3 mb-3">
                                        <label class="form-label">Status</label>
                                        <input class="form-control" value="@Model.Status " readonly>
                                    </div>
                                    <div class="col-md-3 mt-3 mb-3">
                                        <label class="form-label">Tag</label>
                                        <input class="form-control" value="@ViewBag.TagName " readonly>
                                    </div>
                                    <div class="col-md-3 mt-3 mb-3">
                                        <label class="form-label">Creat At</label>
                                        <input class="form-control" value="@Model.CreatedAt " readonly>
                                    </div>
                                    <div class="col-md-3 mt-3 mb-3">
                                        <label class="form-label">Update At</label>
                                        <input class="form-control" value="@(Model.UpdateAt?.ToLocalTime().ToString("dd/MM/yy, HH:mm") ?? "No update")" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-back float-end" asp-controller="CommunityTips" asp-action="Index">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

