@using TraVinhMaps.Web.Admin.Models.Company;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<CompanyResponse>;
@{
    ViewData["Title"] = "Company List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>@ViewData["Title"]</h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">
                                <i class="fa fa-home" style="font-size: 20px;"></i>
                            </a>
                        </li>
                        @if (ViewData["Breadcrumb"] is List<string> breadcrumbs)
                        {
                            foreach (var item in breadcrumbs.Take(breadcrumbs.Count - 1))
                            {
                                <li class="breadcrumb-item">@item</li>
                            }
                            <li class="breadcrumb-item active">@breadcrumbs.Last()</li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
    @if (TempData["ErrorMessage"] != null)
    {
        <div id="alert-message" class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div id="alert-message" class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3">
                            <div>
                                <a asp-controller="Company" asp-action="CreateCompany" class="btn btn-success">
                                    <i class="fa fa-plus me-1"></i>Create Company
                                </a>
                                <button class="btn btn-primary" id="exportBtn">
                                    <i class="fa fa-file-excel-o me-1"></i>Export
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive signal-table custom-scrollbar">
                            <table class="display" id="project-status">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>No. &nbsp</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        @* <th>Locations</th>
                                        <th>Contact</th> *@
                                        <th>Created At</th>
                                        <th>Update At</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int count = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr class="user-removes">
                                            <td>@count</td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.Address
                                            </td>
                                            @* <td>
                                                @foreach (var loc in item.Locations)
                                                {
                                                    <div>
                                                        Type: @loc.Type, Lat: @loc.Latitude, Long: @loc.Longitude
                                                    </div>
                                                }
                                            </td>
                                            <td style="max-width: 200px; word-wrap: break-word;">
                                                <div class="text-wrap">
                                                    Phone: @item.Contact?.Phone<br />
                                                    Email: @item.Contact?.Email<br />
                                                    Website: @item.Contact?.Website
                                                </div>
                                            </td> *@

                                            <td>
                                                @item.CreatedAt.ToLocalTime().ToString("dd/MM/yy, HH:mm")
                                            </td>
                                            <td>
                                                @item.UpdateAt?.ToLocalTime().ToString("dd/MM/yy, HH:mm")
                                            </td>
                                            <td class="text-center align-middle">
                                                <ul class="action d-flex justify-content-center align-items-center mb-0"
                                                    style="height: 100%;">
                                                    <li><a class="details" asp-controller="Company"
                                                            asp-action="DetailCompany" asp-route-id="@item.Id"
                                                            title="Details">
                                                            <i class="fa fa-eye"></i>
                                                        </a></li>
                                                    <li>
                                                        <a class="details" asp-controller="Company"
                                                            asp-action="DetailCompany" asp-route-id="@item.Id"
                                                            title="Details">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a asp-controller="Company" asp-action="UpdateCompany"
                                                            asp-route-id="@item.Id"><i class="fa fa-pencil"></i> </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section Scripts {
    @Html.AntiForgeryToken()
    <script src="~/assets/js/sweetalert-custom.js"></script>
    <script src="~/assets/js/ocoptype/index.js"></script>
    <script>
        (function () {
            const success = @Html.Raw(Json.Serialize(TempData["Success"]));
            const error = @Html.Raw(Json.Serialize(TempData["Error"]));
            if (success) showSuccessAlert("Success!", success);
            if (error) showErrorAlert("Error!", error);
        })();

        setTimeout(function () {
            var alert = document.getElementById("alert-message");
            if (alert) {
                alert.style.display = "none";
            }
        }, 2000);
    </script>
}
