@using TraVinhMaps.Web.Admin.Models.Notifications;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model NotificationResponse;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>@ViewData["Title"]</h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"
                                    style="font-size: 20px;"></i></a></li>
                        @if (ViewData["Breadcrumb"] is List<string> breadcrumbs)
                        {
                            foreach (var item in breadcrumbs.Take(breadcrumbs.Count - 1))
                            {
                                <li class="breadcrumb-item">@item</li>
                            }
                            <li class="breadcrumb-item active">@breadcrumbs.Last()</li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-sm-12">
                                <div class="card-header">
                                    <h4>@Model.Title</h4>
                                </div>
                                <div class="card-body"><span>@Model.Content</span>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-success float-end" asp-controller="Notifications" asp-action="Index">Back</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->

