@using TraVinhMaps.Web.Admin.Models.Admins
@model IEnumerable<AdminResponse>
@{
    // ViewData["Title"] = "Admin List";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>@ViewData["Title"]</h4>
                </div>
                @{
                    var breadcrumbs = ViewData["Breadcrumb"] as List<BreadcrumbItem>;
                }
                @if (breadcrumbs != null)
                {
                    @await Html.PartialAsync("_Breadcrumb", breadcrumbs)
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3">
                            <div class="d-flex gap-2 mb-3">
                                <a asp-controller="Admin" asp-action="Create" class="btn btn-success">
                                    <i class="fa fa-plus me-1"></i>Create Administrator
                                </a>
                                <button class="btn btn-export" title="Export Admin List" id="adminExportBtn">
                                    <i class="fa fa-file-excel-o me-1"></i>Export
                                </button>
                            </div>
                            <div class="status-filter">
                                <select id="statusFilter" class="form-select">
                                    <option value="active">Active</option>
                                    <option value="inactive">Inactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="table-responsive custom-scrollbar">
                            <table class="display" id="basic-9">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>No.</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th class="no-sort">Status</th>
                                        <th>Create At</th>
                                        <th class="no-sort text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int count = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr data-admin-id="@item.Id">
                                            <td>@count</td>
                                            <td>
                                                <div class="user-names">
                                                    <p>@item.Username</p>
                                                </div>
                                            </td>
                                            <td>@item.Email</td>
                                            <td>
                                                <span
                                                    class="badge @(item.Status ? "badge-light-primary" : "badge-light-danger")">
                                                    @(item.Status ? "Active" : "Inactive")
                                                </span>
                                            </td>
                                            <td>
                                                @item.CreatedAt.ToLocalTime().ToString("dd/MM/yy, HH:mm")
                                            </td>
                                            <td>
                                                <ul class="action d-flex justify-content-center text-center">
                                                    <li>
                                                        <a class="details" asp-controller="Admin" asp-action="Details"
                                                            asp-route-id="@item.Id" title="Details">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <ul class="action">
                                                            <li>
                                                                <a class="delete" href="javascript:void(0)"
                                                                    data-id="@item.Id" title="Delete">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                                <a class="restore" href="javascript:void(0)"
                                                                    data-id="@item.Id" title="Restore">
                                                                    <i class="fa fa-undo"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Html.AntiForgeryToken()
    <script src="~/assets/js/sweetalert-custom.js"></script>
    <script src="~/assets/js/admins/update.js"></script>
    <script src="~/assets/js/admins/export-excel.js"></script>
    <script>
        $(document).ready(function () {
            @if (TempData["CreateAdminSuccess"] != null)
                {
                    <text>
                        showTimedAlert("Success!", "@TempData["CreateAdminSuccess"]", "success", 1000);
                    </text>
            }
                @if (TempData["CreateAdminError"] != null)
                {
                    <text>
                        showTimedAlert("Error!", "@TempData["CreateAdminError"]", "error", 1000);
                    </text>
            }
                                                    });
    </script>
}