@using TraVinhMaps.Web.Admin.Models.EventAndFestivalFeature
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;
@model EventAndFestivalResponse
@{
    ViewData["Title"] = "DetailEventFestival";
}

<style>
    .Delete-button-image {
        position: absolute;
        top: 2px;
        right: 2px;
        background-color: rgba(169, 169, 169, 0.6);
        color: white;
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 10;
        padding: 0;
    }
    .Delete-button-history-image {
        position: absolute;
        top: 4px;
        right: 4px;
        background-color: rgba(169, 169, 169, 0.6);
        color: white;
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 10;
        padding: 0;
    }

    .add-image-box {
        margin-top: 10px;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dashed #aaa;
        position: relative;
        cursor: pointer;
        border-radius: 9px;
        background-color: #f8f9fa;
    }

    .add-image-history-box {
        margin-top: 10px;
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dashed #aaa;
        position: relative;
        cursor: pointer;
        border-radius: 9px;
        background-color: #f8f9fa;
    }

    .upload-placeholder {
        font-size: 48px;
        color: #aaa;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    div.gallery {
        margin: 5px;
        @* border: 1px solid #ccc; *@
        border-radius: 9px;
        float: left;
        width: 180px;
    }

    div.add_gallery {
        margin: 5px;
        @* border: 1px solid #ccc; *@
        border-radius: 9px;
        float: left;
        width: 180px;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
        border-radius: 12px;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/css/pages/ocop-detail.css">
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>Event And Festival Details</h4>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"
                                    style="font-size: 20px;"></i></a></li>
                        <li class="breadcrumb-item"><a asp-action="Index">Event And Festival management</a></li>
                        <li class="breadcrumb-item active">Event And Festival Detail</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div>
            <div class="row product-page-main p-0">
                <div class="col-xxl-4 col-md-6 box-col-12">
                    <div class="card">
                        <div class="card-body" style="height: 650px;">
                            <div class="product-slider owl-carousel owl-theme" id="sync1">
                                @foreach (var item in @Model.Images)
                                {
                                    <div class="item" style="height: 400px;"><img src="@item" alt="image"
                                            style="width: 100%; height: 400px; object-fit: cover;"></div>
                                }
                            </div>
                            <div class="owl-carousel owl-theme" id="sync2">
                                @foreach (var item in @Model.Images)
                                {
                                    <div class="item position-relative" style="height: 90px; width: 70px;">
                                        <img src="@item" alt="" class="w-100"
                                            style="width: 100%; height: 100%; object-fit: cover; display: block;">
                                        <form asp-controller="EventAndFestivalManagement"
                                            asp-action="DeleteEventAndFestivalImage" method="post">
                                            @Html.AntiForgeryToken()
                                            <input hidden name="id" value="@Model.Id" />
                                            <input hidden name="urlImage" value="@item" />
                                            <button type="submit" class="Delete-button-image"
                                                onclick="event.stopPropagation();">
                                                &times;
                                            </button>
                                        </form>
                                    </div>
                                }
                            </div>
                            <div class="item add-image-box">
                                <form asp-controller="EventAndFestivalManagement" asp-action="AddEventAndFestivalImage"
                                    method="post" class="upload-placeholder" enctype="multipart/form-data">
                                    <input type="hidden" name="id" value="@Model.Id" />
                                    <div class="upload-placeholder">+</div>
                                    <input hidden type="file" name="imageDestinationFileList" multiple
                                        onchange="this.form.submit()" />
                                </form>
                            </div>

                            @if (TempData["error"] != null)
                            {
                                <div style="margin-top: 20px;">
                                    <span class="text-danger">@TempData["error"]</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-xxl-8 box-col-6 order-xxl-0 order-1">
                    <div class="card">
                        <div class="card-body">
                            <h2>
                                <i class="fa fa-calendar-check-o"></i><span> @Model.NameEvent</span>
                            </h2>
                            <p>Cultural and social event held in the region</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 d-flex">
                            <div class="card flex-fill">
                                <div class="card-body" style="min-height: 235px;">
                                    <div class="detail-item"><i class="fa fa-sitemap"></i> <strong>Category:</strong>
                                        <span>@Model.Category</span></div>
                                    <div class="detail-item"><i class="fa fa-map-marker"></i> <strong>Location
                                            Name:</strong> <span>@(Model.Location.Name ?? "No name")</span></div>
                                    <div class="detail-item"><i class="fa fa-location-arrow"></i> <strong>Address:</strong>
                                        <span>@Model.Location.Address</span></div>
                                    <div class="detail-item"><i class="fa fa-compass"></i>
                                        <strong>Coordinates:</strong>
                                        <span>@Model.Location.location.Coordinates[1],
                                            @Model.Location.location.Coordinates[0]</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex">
                            <div class="card flex-fill">
                                <div class="card-body" style="min-height: 235px;">
                                    <div class="detail-item"><i class="fa fa-calendar-plus-o"></i> <strong>Start
                                            Date:</strong>
                                        <span>@Model.StartDate.ToLocalTime().ToString("dd/MM/yy, HH:mm")</span></div>
                                    <div class="detail-item"><i class="fa fa-calendar-times-o"></i> <strong>End
                                            Date:</strong>
                                        <span>@Model.EndDate.ToLocalTime().ToString("dd/MM/yy, HH:mm")</span></div>
                                    <div class="detail-item"><i class="fa fa-clock-o"></i> <strong>Created At:</strong>
                                        <span>@Model.CreatedAt.ToLocalTime().ToString("dd/MM/yy, HH:mm")</span></div>
                                    <div class="detail-item"><i class="fa fa-tags"></i> <strong>Event Type:</strong>
                                        <span>
                                            <img class="activity-log-img rounded-circle img-fluid me-2"
                                                src="@ViewBag.EventAndFestivalTag.Image" alt="user"
                                                style="width: 24px; height: 24px;" />
                                            @ViewBag.EventAndFestivalTag.Name
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="min-height: 250px;">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold"><i class="fa fa-file-text-o"
                                    style="margin-right: 2px;"></i> Description</h5>
                            <hr>
                            <div>
                                @Html.Raw(Model.Description ?? "<p>No description available.</p>")
                            </div>
                        </div>
                    </div>

                    <div class="m-t-15 btn-showcase" style="padding-bottom: 20px; display: flex; justify-content: end">
                        <div class="d-inline">
                            @{
                                var isPastStartDate = DateTime.Now > Model.StartDate;
                            }
                            <a class="btn btn-success @(isPastStartDate ? "disabled" : "")"
                                asp-action="EditEventAndFestival" asp-route-id="@Model.Id"><i class="fa fa-pencil"
                                    aria-hidden="true"></i>&nbsp; Edit Event And Festival</a>
                        </div>
                        <div class="d-inline">
                            <a class="btn btn-danger" asp-action="Index">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section Scripts {
    <script src="~/assets/js/sweetalert-custom.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelector('.add-image-box .upload-placeholder').addEventListener('click', function () {
                document.querySelector('input[name="imageDestinationFileList"]').click();
            });

            // Razor will only render this block if TempData has a value
            @if (TempData["EditEventAndFestivalSuccess"] != null)
            {
                <text>
                    showTimedAlert("Success!", "@TempData["EditEventAndFestivalSuccess"]", "success", 1000);
                </text>
            }
            @if (TempData["successMessage"] != null)
            {
                <text>
                    showTimedAlert("Success!", "@TempData["successMessage"]", "success", 1000);
                </text>
            }
            @if (TempData["errorMessage"] != null)
            {
                <text>
                    showTimedAlert("Error!", "@TempData["errorMessage"]", "error", 1000);
                </text>
            }
        });
    </script>
}
