@using TraVinhMaps.Web.Admin.Models
@using TraVinhMaps.Web.Admin.Models.OcopType;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<OcopTypeResponse>;
@{
    ViewData["Title"] = "Ocop Type Management";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>@ViewData["Title"]</h4>
                </div>
                @{
                    var breadcrumbs = ViewData["Breadcrumb"] as List<BreadcrumbItem>;
                }
                @if (breadcrumbs != null)
                {
                    @await Html.PartialAsync("_Breadcrumb", breadcrumbs)
                }
            </div>
        </div>
    </div>
    @if (TempData["ErrorMessage"] != null)
    {
        <script>
            showErrorAlert('Error!', TempData["ErrorMessage"].ToString());
        </script>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            showSuccessAlert("Success!", "@TempData["SuccessMessage"]");
        </script>
    }
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3">
                            <div>
                                <a asp-controller="OcopType" asp-action="CreateOcopType" class="btn btn-success">
                                    <i class="fa fa-plus me-1"></i>Create OCOP Type
                                </a>
                                <button class="btn btn-export" id="exportOcopTypeBtn">
                                    <i class="fa fa-file-excel-o me-1"></i>Export
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive signal-table custom-scrollbar">
                            <table class="display" id="project-status">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>No.</th>
                                        <th>OCOP Type Name</th>
                                        <th>Created At</th>
                                        <th class="no-sort text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int count = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr class="user-removes">
                                            <td>@count</td>
                                            <td>
                                                @item.OcopTypeName
                                            </td>
                                            <td>
                                                @item.CreatedAt.ToLocalTime().ToString("dd/MM/yy, HH:mm")
                                            </td>

                                            <td class="text-center">
                                                <div class="d-flex justify-content-center">
                                                    <a style="color: #158247 !important;" class="edit me-2"
                                                       asp-controller="OcopType" asp-action="UpdateOcopType"
                                                       asp-route-id="@item.Id" title="Edit">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a href="javascript:void(0);" class="delete" data-id="@item.Id"
                                                       style="color: red !important;" title="Delete">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section Scripts {
    @Html.AntiForgeryToken()
    <!-- Add SheetJS libraries for Excel export -->
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
    <script src="~/assets/js/sweetalert-custom.js"></script>
    <script src="~/assets/js/ocoptype/index.js"></script>
    <script>
        (function () {
            const success = @Html.Raw(Json.Serialize(TempData["Success"]));
            const error = @Html.Raw(Json.Serialize(TempData["Error"]));
            if (success) showSuccessAlert("Success!", success);
            if (error) showErrorAlert("Error!", error);
        })();

        setTimeout(function () {
            var alert = document.getElementById("alert-message");
            if (alert) {
                alert.style.display = "none";
            }
        }, 1000);
    </script>
}
