@using TraVinhMaps.Web.Admin.Models.OcopType
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;
@model UpdateOcopTypeRequest;
@{
    ViewData["Title"] = "UpdateSellLocation";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>Sell Location Edit</h4>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div id="alert-message" class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                       <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">
                                <i class="fa fa-home"
                                   style="font-size: 20px;"></i>
                            </a>
                        </li>
                        @if (ViewData["Breadcrumb"] is List<string> breadcrumbs)
                        {
                            foreach (var item in breadcrumbs.Take(breadcrumbs.Count - 1))
                            {
                                <li class="breadcrumb-item">@item</li>
                            }
                            <li class="breadcrumb-item active">@breadcrumbs.Last()</li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form theme-form">
                            <form asp-action="UpdateOcopTypePost" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="id" value="@Model.Id" />
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label>Ocop Type Name</label>
                                            <input asp-for="OcopTypeName" class="form-control" type="text"
                                                placeholder="Name of product" >
                                            <span asp-validation-for="OcopTypeName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="text-end">
                                            <button type="submit" class="btn btn-success me-3">Edit Ocop Type</button>
                                            <a asp-controller="OcopType" asp-action="Index" class="btn btn-danger">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section Scripts {
    @Html.AntiForgeryToken()
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        setTimeout(function () {
            var alert = document.getElementById("alert-message");
            if (alert) {
                alert.style.display = "none";
            }
        }, 1000); 
    </script>
}
