@using TraVinhMaps.Web.Admin.Models.OcopProduct
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;
@model OcopProductViewModel;
@{
    ViewData["Title"] = "Create Ocop Product";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>@ViewData["Title"]</h4>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div id="alert-message" class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }

                </div>
                @{
                    var breadcrumbs = ViewData["Breadcrumb"] as List<BreadcrumbItem>;
                }
                @if (breadcrumbs != null)
                {
                    @await Html.PartialAsync("_Breadcrumb", breadcrumbs)
                }
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form theme-form">
                            <form asp-controller="OcopProduct" asp-action="CreateOcopProductPost" method="post"
                                enctype="multipart/form-data">
                                @Html.AntiForgeryToken()

                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label asp-for="ProductName">Product Name</label>
                                            <input asp-for="ProductName" class="form-control" type="text"
                                                placeholder="Name of product" required />
                                            <span asp-validation-for="ProductName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label asp-for="ProductDescription">Product Description</label>
                                            <textarea asp-for="ProductDescription" class="form-control"
                                                placeholder="Description of product" rows="10"></textarea>
                                            <span asp-validation-for="ProductDescription" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label asp-for="ProductImageFile">Product Images</label>
                                            <input asp-for="ProductImageFile" type="file" class="form-control" multiple
                                                required />
                                            <span asp-validation-for="ProductImageFile" class="text-danger"></span>
                                            <small class="text-muted">Please upload at least one photo.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label asp-for="ProductPrice">Product Price</label>
                                            <input asp-for="ProductPrice" class="form-control" type="text"
                                                placeholder="Price of product" />
                                            <span asp-validation-for="ProductPrice" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label asp-for="OcopTypeId">Ocop Type</label>
                                            <select asp-for="OcopTypeId" class="form-select" required>
                                                <option disabled selected value="">-- Select Ocop Type --</option>
                                                @foreach (var type in ViewBag.OcopTypes)
                                                {
                                                    <option value="@type.Id">@type.OcopTypeName</option>
                                                }
                                            </select>
                                            <span asp-validation-for="OcopTypeId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label asp-for="CompanyId">Company</label>
                                            <select asp-for="CompanyId" class="form-select" required>
                                                <option disabled selected value="">-- Select Company --</option>
                                                @foreach (var company in ViewBag.Companies)
                                                {
                                                    <option value="@company.Id">@company.Name</option>
                                                }
                                            </select>
                                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label asp-for="OcopPoint">Ocop Point</label>
                                            <select asp-for="OcopPoint" class="form-select" required>
                                                <option selected value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                            <span asp-validation-for="OcopPoint" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label asp-for="OcopYearRelease">Ocop Year Release</label>
                                            <select asp-for="OcopYearRelease" class="form-select" required>
                                                @for (int year = DateTime.Now.Year; year >= 1900; year--)
                                                {
                                                    <option value="@year">@year</option>
                                                }
                                            </select>
                                            <span asp-validation-for="OcopYearRelease" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label asp-for="TagId">Ocop Product Tag</label>
                                            <select asp-for="TagId" class="form-select" required>
                                                @foreach (var tag in ViewBag.Tags)
                                                {
                                                    if (@tag.Name == "Ocop")
                                                    {
                                                        <option value="@tag.Id">@tag.Name</option>
                                                    }
                                                }
                                            </select>
                                            <span asp-validation-for="TagId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label asp-for="SellingLinkId">Ocop Product Selling Link</label>
                                                <input asp-for="SellingLinkId" class="form-control" type="text"
                                                    placeholder="Selling link of product" required />
                                                <span asp-validation-for="SellingLinkId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="text-end">
                                                <button type="submit" class="btn btn-success me-3">Create
                                                    Ocop
                                                    Product</button>
                                                <a asp-action="Index" asp-controller="OcopProduct"
                                                    class="btn btn-danger">Back</a>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section Scripts {
    @Html.AntiForgeryToken()
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
    <script src="~/assets/js/sweetalert-custom.js"></script>
    <script src="~/assets/js/ocopproduct/crud.js"></script>
    <script src="~/assets/js/ocopproduct/formModal.js"></script>
    <script src="~/assets/js/ckeditor5.js"></script>
    <script>
        setTimeout(function () {
            var alert = document.getElementById("alert-message");
            if (alert) {
                alert.style.display = "none";
            }
        }, 1000); 
            }
    </script>
}