@using TraVinhMaps.Web.Admin.Models.OcopProduct
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;
@model UpdateOcopProductRequest;
@{
    ViewData["Title"] = "UpdateOcopProduct";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>Ocop Product Edit</h4>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div id="alert-message" class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }

                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">
                                <svg class="stroke-icon">
                                    <use
                                        href="https://admin.pixelstrap.net/riho/assets/svg/icon-sprite.svg#stroke-home">
                                    </use>
                                </svg></a></li>
                        <li class="breadcrumb-item"><a asp-action="Index">Ocop Product Management</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form theme-form">
                            <form asp-action="UpdateOcopProductPost" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label>Product Name</label>
                                            <input asp-for="ProductName" class="form-control" type="text"
                                                placeholder="Name of product">
                                            <span asp-validation-for="ProductName" class="text-danger"></span>
                                        </div>
                                        <input readonly hidden asp-for="Id" class="form-control" type="text"
                                                placeholder="Project name *">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label>Product Description</label>
                                            <textarea asp-for="ProductDescription" class="form-control"
                                                placeholder="Description of product"
                                                id="exampleFormControlTextarea4" rows="10"></textarea>
                                            <span asp-validation-for="ProductDescription" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label>Product Price</label>
                                            <input asp-for="ProductPrice" class="form-control" type="text"
                                                placeholder="Price of product">
                                            <span asp-validation-for="ProductPrice" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label>Ocop Type Id</label>
                                            <select asp-for="OcopTypeId" class="form-select">
                                                <option selected value="681c791ecf4b6508ed09e831">Ocop
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label>Company Id</label>
                                            <select asp-for="CompanyId" class="form-select">
                                                <option selected value="681c791ecf4b6508ed09e832">An Nam Company</option>
                                    <option value="681c791ecf4b6508ed09e833">Company 2</option>
                                    <option value="681c791ecf4b6508ed09e834">Company 3</option>
                                    <option value="681c791ecf4b6508ed09e835">Company 4</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Ocop Point</label>
                                            <select asp-for="OcopPoint" class="form-select">
                                                <option selected value="1">1
                                                </option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Ocop Year Release</label>
                                            <select asp-for="OcopYearRelease" class="form-control" data-language="en">
                                                @for(int year = DateTime.Now.Year; year >= 1900; year--){
                                                    <option value="@year">@year</option>
                                                }
                                            </select>
                                            <span asp-validation-for="OcopYearRelease" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                         <div class="mb-3">
                                            <label>Ocop Product Tag</label>
                                            <select asp-for="TagId" class="form-select">
                                                <option selected value="68244abd2b06dbe39f973e8c">Ocop
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="text-end">
                                            <button type="submit" class="btn btn-success me-3">Edit Destination</button>
                                            <a asp-action="DetailOcopProduct" asp-route-id = "@Model.Id"
                                                class="btn btn-danger">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section Scripts {
    @Html.AntiForgeryToken()
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        setTimeout(function () {
            var alert = document.getElementById("alert-message");
            if (alert) {
                alert.style.display = "none";
            }
        }, 1000); 
    </script>
}