@using TraVinhMaps.Web.Admin.Models.OcopProduct
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;
@model UpdateOcopProductRequest;
@{
    ViewData["Title"] = "Update Ocop Product";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>@ViewData["Title"]</h4>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div id="alert-message" class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }

                </div>
                @{
                    var breadcrumbs = ViewData["Breadcrumb"] as List<BreadcrumbItem>;
                }
                @if (breadcrumbs != null)
                {
                    @await Html.PartialAsync("_Breadcrumb", breadcrumbs)
                }
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form theme-form">
                            <form asp-action="UpdateOcopProductPost" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label>Product Name</label>
                                            <input asp-for="ProductName" class="form-control" type="text"
                                                placeholder="Name of product">
                                            <span asp-validation-for="ProductName" class="text-danger"></span>
                                        </div>
                                        <input readonly hidden asp-for="Id" class="form-control" type="text"
                                                placeholder="Project name *">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3 text-justify">
                                            <label>Product Description</label>
                                            <textarea asp-for="ProductDescription" id="Description" class="form-control"
                                                placeholder="Description of product"
                                                id="exampleFormControlTextarea4" rows="10"></textarea>
                                            <span asp-validation-for="ProductDescription" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label>Reference Price</label>
                                            <input asp-for="ProductPrice" class="form-control" type="text"
                                                placeholder="Price of product">
                                            <span asp-validation-for="ProductPrice" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label>Ocop Type</label>
                                            <select asp-for="OcopTypeId" class="form-select">
                                                <option value="">-- Select Ocop Type --</option>
                                                @foreach (var type in (IEnumerable<TraVinhMaps.Web.Admin.Models.OcopType.OcopTypeResponse>)ViewBag.OcopTypes)
                                                {
                                                    <option value="@type.Id" selected="@(Model.OcopTypeId == type.Id ? "selected" : null)">
                                                        @type.OcopTypeName
                                                    </option>
                                                }
                                            </select>
                                            <span asp-validation-for="OcopTypeId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <label>Company Name</label>
                                            <select asp-for="CompanyId" class="form-select">
                                                <option value="">-- Select Ocop Type --</option>
                                                @foreach (var company in (IEnumerable<TraVinhMaps.Web.Admin.Models.Company.CompanyResponse>)ViewBag.Companies )
                                                {
                                                    <option value="@company.Id" selected="@(Model.CompanyId == company.Id ? "selected" : null)">
                                                        @company.Name
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Ocop Point</label>
                                            <select asp-for="OcopPoint" class="form-select">
                                                <option selected value="1">1
                                                </option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="mb-3">
                                            <label>Ocop Year Release</label>
                                            <select asp-for="OcopYearRelease" class="form-control" data-language="en">
                                                @for(int year = DateTime.Now.Year; year >= 1900; year--){
                                                    <option value="@year">@year</option>
                                                }
                                            </select>
                                            <span asp-validation-for="OcopYearRelease" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                         <div class="mb-3">
                                            <label>Ocop Product Tag</label>
                                            <select asp-for="TagId" class="form-select">
                                                @foreach (var tag in (IEnumerable<TraVinhMaps.Web.Admin.Models.Tags.TagsResponse>)ViewBag.Tags)
                                                {
                                                    if(@tag.Name == "Ocop"){
                                                        <option value="@tag.Id" selected="@(Model.TagId == tag.Id ? "selected" : null)">
                                                            @tag.Name
                                                        </option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="text-end">
                                            <a asp-action="DetailOcopProduct" asp-route-id = "@Model.Id"
                                                class="btn btn-danger">Cancel</a>
                                            <button type="submit" class="btn btn-success me-3">Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section Scripts {
    @Html.AntiForgeryToken()
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
    <script src="~/assets/js/sweetalert-custom.js"></script>
    <script src="~/assets/js/ocopproduct/crud.js"></script>
    <script src="~/assets/js/ocopproduct/formModal.js"></script>
    <script src="~/assets/js/ckeditor5.js"></script>
    <script>
        setTimeout(function () {
            var alert = document.getElementById("alert-message");
            if (alert) {
                alert.style.display = "none";
            }
        }, 1000); 
    </script>
}