@using TraVinhMaps.Web.Admin.Models.Feedback
@model IEnumerable<FeedbackResponse>
@{
    ViewData["Title"] = "Feedback Management";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h4>@ViewData["Title"]</h4>
                </div>
                @{
                    var breadcrumbs = ViewData["Breadcrumb"] as List<BreadcrumbItem>;
                }
                @if (breadcrumbs != null)
                {
                    @await Html.PartialAsync("_Breadcrumb", breadcrumbs)
                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3">
                            <div class="d-flex gap-2 mb-3">
                                <button class="btn btn-export" title="Export Feedback" id="feedbackExportBtn">
                                    <i class="fa fa-file-excel-o me-1"></i>Export
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive signal-table custom-scrollbar">
                            <table class="display" id="basic-9">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>No.</th>
                                        <th>Username</th>
                                        <th>Content</th>
                                        <th>Create At</th>
                                        <th class="no-sort text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int count = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr data-admin-id="@item.Id">
                                            <td>@count</td>
                                            <td>
                                                <div class="user-names">
                                                    <p>@item.Username</p>
                                                </div>
                                            </td>
                                            <td>
                                                @item.Content
                                            </td>
                                            <td>
                                                @item.CreatedAt.ToLocalTime().ToString("dd/MM/yy, HH:mm")
                                            </td>
                                            <td>
                                                <ul class="action d-flex justify-content-center align-items-center">
                                                    <li>
                                                        <a class="details" asp-controller="Feedback" asp-action="Details"
                                                            asp-route-id="@item.Id" title="Details">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/assets/js/sweetalert-custom.js"></script>
    <script src="~/assets/js/feedback/export-excel.js"></script>
    <script src="~/assets/js/feedback/signalR.js"></script>
}